<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github-Official-EwE" value="https://nuget.pkg.github.com/Official-EwE/index.json" />
        <add key="github-Surimi-project" value="https://nuget.pkg.github.com/surimi-project/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="BSR" value="https://buf.build/gen/nuget/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceMapping>
        <!-- Force these packages to come only from GitHub -->
        <packageSource key="github-Official-EwE">
            <package pattern="Eii.*" />
        </packageSource>
        <packageSource key="github-Surimi-project">
            <package pattern="SURIMI.*" />
        </packageSource>
        <packageSource key="BSR">
            <package pattern="BSR.*" />
        </packageSource>
        <!-- Everything else can come from nuget.org -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>